
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

*{
    margin: 0;
    padding: 0;
}

/* Card Section part */
#card-box{
    max-width: 1600px;
   
}

#card-box .box-container{
     max-width: 1360px;
     margin: 0 auto;
     
     
}
#card-box .box-container .box-intro h2{
       padding-top: 70px;
       text-align: center;
       color: #001931;
       font-size: 48px;
       font-weight: bold;
       margin-bottom: 16px;
}
#card-box .box-container .box-intro p{
       text-align: center;
       color: #627382;
       font-size: 16px;
       margin-bottom: 44px;
}
#card-box .box-container .card-box{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 120px;
}
#card-box .box-container .card-box .card{
    text-align: center;
    width: 322px;
    background-color: #F7F6F2;
    border: 1px solid rgb(228, 197, 155);
    border-radius: 8px;
}

#card-box .box-container .card img{
    background-color: #F95555;
    border: none;
    border-radius: 100%;
    padding: 14px;
    margin-top: 70px;
    margin-bottom: 16px;
}
#card-box .box-container .card h4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
 
}
#card-box .box-container .card p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 21px;
     color: #627382;
 
}







/* the solution part */
#The-solution{
    max-width: 1600px;
}
#The-solution .soution-container{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
   
    gap: 60px;
    align-items: center;
   margin-bottom: 120px;
    
}
#The-solution .soution-container .image{
    max-width: 600px;
}
#The-solution .soution-container .solution-info{
    max-width: 700px;
  
}
#The-solution .soution-container .solution-info h6{
   font-size: 16px;
   font-weight: 500px;
   color: #469165;
   margin-bottom: 16px;
}

#The-solution .soution-container .solution-info h2{
   font-size: 48px;
   font-weight: bold;
   color: #001931;
   margin-bottom: 16px;
}
#The-solution .soution-container .solution-info p{
   font-size: 16px;
   color: #627382;
   line-height: 20px;
   margin-bottom: 40px;
}

#The-solution .soution-container .solution-info ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 500px;
  color: #001931;
   margin-bottom: 16px;
  
 }




/* Ready access part */

#Ready-part{
    max-width: 1600px;
    padding-bottom: 120px;
   
}
#Ready-part .ready-container{
    max-width: 1360px;
    border: none;
    border-radius: 12px;
    padding-top: 0;
    margin-bottom: 120px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
}

#Ready-part .ready-container .ready-info{
    max-width: 1280px;
     padding-top: 80px;
     margin: 0 auto;
     margin-bottom: 24px;

  
}
#Ready-part .ready-container .ready-info h2{
   font-size: 40px;
   font-weight: bold;
   margin-bottom: 16px;
   color: #001931;
}
#Ready-part .ready-container .ready-info p{
   font-size: 16px;
   color: #627382;
   line-height: 24px;

}
#Ready-part .ready-container .ready-button{
padding-bottom: 80px;

max-width: 1360px;
}

#Ready-part .ready-container .ready-button .btn{
  padding: 16px;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 16px;
  cursor: pointer;
}

#Ready-part .ready-container .ready-button .btn :hover{
  color: red;
}
   


#Ready-part .ready-container .ready-button  p{
   font-size: 16px;
   color: #627382;
   line-height: 24px;

}




/* footer-section */

#footer-section{
    width: 100%;
    max-width: 1600px;
    background-color: #001931;
    padding-top: 120px;
}

#footer-section .footer-logo-section{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: center;
   
}

#footer-section .footer-logo-section .logo-footer{
    max-width: 360px;
}
#footer-section .footer-logo-section .logo-footer img{
    max-width: 139px;
    padding-right: 211px;
}
#footer-section .footer-logo-section .icon-footer{
    max-width: 220px;
    padding-right: 107px; 
    
}

#footer-section .footer-logo-section .icon-footer h4{
   font-size: 20px;
   margin-bottom: 16px;
   color: #FFFFFF;
    
}

#footer-section .footer-logo-section .icon-footer .icon{
   display: flex;
   gap: 16px;    
}

#footer-section .info-footer { 
    max-width: 1360px;
    margin: auto;
     border-top: 1px solid #E5E7EB ;
}

#footer-section .info-footer p{
   
    margin-top: 30px;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    padding-bottom: 30px;
   
}
